.titulo-noticia {
    font-size: 1.8em;
    margin: 10px 0;
}

.conteudo-noticia {
    font-size: 1.2em;
    line-height: 1.5;
}

.noticias-relacionadas {
    margin-top: 20px;
}

.interacoes {
    margin-top: 20px;
    display: flex;
    justify-content: space-around;
}

